
body {
  font-family:Optima, "Trebuchet MS", sans-serif;
  background:#fff;
  color:#000;
  margin: 0 auto;
}

header, footer, aside, nav {
  display: block;
}

a:link {color:#00f;}
a:visited {color:#70f;}
a:hover {color:#00c;}
a:active {color:#008;}

#copyright {
  font-size:8pt;
  text-align:center;
  margin-top:10px;
}

.remark {
  color: #000;
}

#simulation {
  display:table;
  margin: 0 auto;
  border:1px solid;
  /* box-shadow: 10px 10px 7px #222; */
}

  #simulation .viewer {
    display:table-cell;
  }
  
  #simulation .panel {
    display:table-cell;
    vertical-align:top;
    width: 200px;
    padding: 0px 5px 0px 5px;
    font-size: 9pt;
    background:#fff;
  }
    #simulation .panel header {
      color: #000;
    }
    
    #simulation .panel .slider {
      margin: 7px 10px 10px 10px;
    }
    #simulation .panel section {
      margin-bottom: 15px;
      border-bottom: 1px dotted;
    }
    #simulation .panel section:last-child {
      margin-bottom: 0px;
      border-bottom: 0px;
    }


#myCanvas {
  display:block;
  vertical-align:bottom;
  background-color:#fff;
  border-right:1px solid;
}
